/*
 Alkemy, Inc. Website - Styles
 Author:       Jonathan J. Ferragut
 Version:      2.0.0
 Date:         November 13,2018
 License:      MIT License
 License URI:  https://opensource.org/licenses/MIT
*/


/**********************/
/* Variables & Mixins */
/**********************/

/* Mobile Menu */
$header-height: 130px; // Set height of header
$animation-time: 400ms; // Set the animation speed
$animation-function: ease; // Set the animation type

/* Transition Mixin */

@mixin transition($property, $time, $function){
  -webkit-transition: $property $time $function;
  -moz-transition: $property $time $function;
  -ms-transition: $property $time $function;
  -o-transition: $property $time $function;
  transition: $property $time $function;
}

/* Colors */

$alkemy_darkest_blue: rgb(20,27,34); //#141B22
$alkemy_blue: #328CC1;
$alkemy_dark_blue: #0B3C5D;
$alkemy_dark_gray: #707070;
$alkemy_yellow: #F0C611;
$alkemy_gold: #79640A;
$linkedin: #0077b5;
$facebook: #3b5998;
$twitter: #1da1f2;

body{
  &.solid{
    div.header{
      background: $alkemy_darkest_blue;
      ul.dropdown-menu{
        background: $alkemy_darkest_blue !important;
      }
    }
  }
  &.blog{
    div.header{
      background: $alkemy_darkest_blue;
      ul.dropdown-menu{
        background: $alkemy_darkest_blue !important;
      }
    }
    section.blog-post-container{
      margin-top: $header-height+20px;
    }
  }
}

/* bootstrap override */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight: 600 !important;
}

.header{
  background: rgba($alkemy_darkest_blue,.70);
  color: white;
  height: $header-height;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  animation-duration: 2s;
  transition: .5s linear;

  a:hover,
  .dropdown-toggle:hover{
    color: $alkemy_yellow !important;
  }

  /* dropdown menu restyle */
  .dropdown-item:hover{
    background: inherit !important;
    a{
      color: $alkemy_yellow !important;
    }
  }
}

/* Global Links */

a {
    color: $alkemy_dark_blue;
    text-decoration: none;
    background-color: transparent;
}
.card-footer{
  background-color: unset;
  border-top: unset;
}


.callUs{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.6rem;
  color: $alkemy_yellow;

  @media only screen and (max-width: 1080px){
    display: none !important;
  }
}

.vc{
  background: black;
  overflow: hidden;
  .vc-wrap{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    animation-duration: 1s;
  }
}

.mobileMenu{
  background: $alkemy_darkest_blue;
  z-index: 1001;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  transition: top 350ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  hr{
    border-color: $alkemy_dark_gray;
    top: 15vh;
    position: absolute;
    left: 0;
    right: 0;
  }
  .navbar-nav {
    font-size: 1.6rem;
    margin: 22vh auto;
    .siteTitle{
      font-size: 1.8rem;
      &:first-of-type{
        margin-bottom: 1rem;
      }
    }
  }

  &.open{
    top:0;
    -webkit-font-smoothing: antialiased;
    transition:all 500ms ease;
  }
}

/* Video Carousel Text Animations */

.cover-text{
  z-index: 100;
  width: 100%;
  height: 100%;
}

.cover-text-1a{
  position: absolute;
  top: 30%;
  left: 30vw;
  font-size: 3rem;
  text-shadow: 1px 1px #444;
  color: white;
  -webkit-animation: slideFromLeft 0.5s backwards;
  -webkit-animation-delay: 2s;
  animation: slideFromLeft 0.5s backwards;
  animation-delay: 2s;
}
.cover-text-1b{
  position: absolute;
  top: 42%;
  right: 20vw;
  font-weight: bold;
  font-size: 5.5rem;
  text-shadow: 1px 1px #444;
  color: white;
  -webkit-animation: slideFromRight 0.5s backwards;
  -webkit-animation-delay: 2s;
  animation: slideFromRight 0.5s backwards;
  animation-delay: 2s;
}

@-webkit-keyframes slideFromLeft {
    0% { left: -50vw; }
}
@keyframes slideFromLeft {
    0% { left: -50vw; }
}

@-webkit-keyframes slideFromRight {
  0% { right: -50vw;}
}
@keyframes slideFromRight {
  0% { right: -50vw;}
}


/* Button Styles */

.btn-primary {
    color: black;
    background-color: $alkemy_yellow;
    border-color: $alkemy_dark_gray;

    &:hover{
      color: black;
      background-color: darken($alkemy_yellow, 7%);
      border-color: $alkemy_yellow;
    }
}
.header {
  button:hover {
    svg path{
      fill: #212529;
    }
  }
}

.btn-group-lg>.btn, .btn-lg {
  padding: .25rem 2rem;
  font-size: 1.6rem;
  border-radius: .3rem;
}

.hero-cta-div{
  bottom: 30vh;
  left: 50vw;
  z-index: 100;
}

.heroChevron{
  z-index: 900;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  cursor: pointer;
  filter: drop-shadow( 1px 1px 2px rgba(0,0,0,.7) );
}


/* Input Focus */

.form-control:focus {
    box-shadow: 0 0 0.5rem 0.2rem $alkemy_blue;
}

input{
	font-size: 1.6rem;
    padding: .5rem 1.5rem;
}

/* Blockquotes */

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Merriweather, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #666;

  /*Box Shadow*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Merriweather, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;

}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

/* Default Color Palette */
blockquote.default{
  border-left-color: #656d77;
  border-right-color: #434a53;
}

/*Grapefruit Color Palette*/
blockquote.grapefruit{
  border-left-color: #ed5565;
  border-right-color: #da4453;
}

/*Sunflower Color Palette*/
blockquote.sunflower{
  border-left-color: #ffcd69;
  border-right-color: #f6ba59;
}

/*Grass Color Palette*/
blockquote.grass{
  border-left-color: #9fd477;
  border-right-color: #8bc163;
}

/*Gray Color Palette*/
blockquote.gray{
  border-left-color: #ccd1d8;
  border-right-color: #aab2bc;
}


/******************************/
/*   Additional Animations    */
/******************************/

/* Pulsing Object Animation */

.pulse {
	display: block;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(204,169,44, 0.8);
	animation: pulse 2s infinite;
	background: $alkemy_yellow;
	border-color: $alkemy_gold;
	color: #333;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, .8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 00);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}



/* Hamburger  */
button:focus {
    outline: none;
}

.hamburger {
	z-index: 9999;
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
  position: absolute !important;
  right: 0;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger-box {
	z-index:2002;
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	z-index: 2002;
	display: block;
	top: 50%;
	margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: .65s;
	transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
}


.hamburger--slider .hamburger-inner {
	top: 2px;
}

.hamburger--slider .hamburger-inner::before {
	top: 10px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: .45s;
}

.hamburger--slider .hamburger-inner::after {
	top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
	transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
	opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
	transform: translate3d(0, -20px, 0) rotate(-90deg);
}


// HomePage

.servicesHome{min-height: 100% !important;}

.card{
  height: 100%;
  .image-services.card-img-top{
    max-height: 100px;
    max-width: 25vw;
    object-fit: contain;
    margin-bottom: 2rem;
  }


  .card-img-overlay{
    position: relative;
    transition: .3s linear;
    height: 100%;
    padding: 0;

    @media only screen and (min-width: 1280px){
      min-height: fit-content;
      position: absolute;
      opacity: 0;
    }
  }

  &:hover{
    @media only screen and (min-width: 1280px){
      .card-img-overlay {
        opacity: 1;
        color: white;
        background: rgba(0,0,0,.90);
      }
    }
  }
}

section.statsCounter{
  background: $alkemy_dark_blue;
  color: white;

  h1:first-child{margin-top: 2rem;}
  .row div{
    margin-bottom: 1.5rem;
    h1{
      margin-top:unset;
      color: $alkemy_yellow;
    }
    .text-muted{
      color: $alkemy_blue !important;
      font-size: 1.2rem;
    }
  }
}

section.ourPassion{
  padding: 4rem;

  .ourPassionImg{
    object-fit:cover;
  }
}

section.recentBlogPosts{
  .container{
    max-width:80vw;
    padding-top:3rem;
    .card{
      max-width:25%;
    }
  }
}

section.contactForm{
  background: rgba($alkemy_blue,.25);
}
