/* bootstrap override */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight: 600 !important;
}

a:hover,
.dropdown-toggle:hover{
  color: #F0C611 !important;
}

/* dropdown menu restyle */
.dropdown-item:hover{
  background: inherit !important;
  a{
    color: #F0C611 !important;
  }
}
