@charset "UTF-8";
/*
 Alkemy, Inc. Website - Styles
 Author:       Jonathan J. Ferragut
 Version:      2.0.0
 Date:         November 13,2018
 License:      MIT License
 License URI:  https://opensource.org/licenses/MIT
*/
/**********************/
/* Variables & Mixins */
/**********************/
/* Mobile Menu */
/* Transition Mixin */
/* Fonts */
html {
  line-height: 1.5;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  html {
    font-size: 24px;
  }
}

h1, .cover-text-1b {
  font-size: 2.0736rem;
}
h1, .cover-text-1b {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  h1, .cover-text-1b {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  h1, .cover-text-1b {
    font-size: 54px;
  }
}

h2, .cover-text-1a {
  font-size: 1.728rem;
}
h2, .cover-text-1a {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  h2, .cover-text-1a {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  h2, .cover-text-1a {
    font-size: 54px;
  }
}

h3 {
  font-size: 1.44rem;
}
h3 {
  font-size: 23.04px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(23.04px + 12.96 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  h3 {
    font-size: 36px;
  }
}

/* Colors */
/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2bb3e5;
  border-radius: 100rem;
  box-shadow: inset 0 0 5px #0B3C5D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0B3C5D;
  box-shadow: inset 0 0 5px #2bb3e5;
}

.wow {
  visibility: hidden;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

body.solid header.header {
  background: #010305;
}
body.solid header.header ul.dropdown-menu {
  background: #010305 !important;
}
body.blog header.header {
  background: #010305;
}
body.blog header.header ul.dropdown-menu {
  background: #010305 !important;
}
body.blog section.blog-post-container {
  margin-top: 95px;
}

/* Bootstrap Override */
.h1, .h2, .h3, .h4, .h5, .h6, h1, .cover-text-1b, h2, .cover-text-1a, h3, h4, h5, h6 {
  font-weight: 600;
}

/* Checkboxes styles */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=checkbox] + label:last-child {
  margin-bottom: 0;
}

input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #0B3C5D;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type=checkbox]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Header */
.header {
  background: rgba(1, 3, 5, 0.7);
  color: white;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  animation-duration: 2s;
  transition: 0.5s linear;
  /* dropdown menu restyle */
}
.header.solid {
  background: #010305;
}
.header a {
  transition: 800ms ease all;
}
.header a:hover,
.header .dropdown-toggle:hover {
  color: #F0C611 !important;
}
.header .dropdown-item:hover {
  background: inherit !important;
}
.header .dropdown-item:hover a {
  color: #F0C611 !important;
}

/* Global Links */
a {
  color: #0B3C5D;
  text-decoration: none;
  background-color: transparent;
}

.card-footer {
  background-color: unset;
  border-top: unset;
}

.vc {
  background: black;
  overflow: hidden;
}
.vc .vc-wrap {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation-duration: 1s;
}

.navbar-nav .dropdown-menu {
  font-size: inherit;
  top: 90%;
}

.mobileMenu {
  background: #010305;
  z-index: 1001;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  transition: top 350ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.mobileMenu.open ~ .navbar {
  border-bottom: 2px solid lightgray !important;
}
.mobileMenu .navbar-nav {
  font-size: 1.3rem;
  line-height: 4vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobileMenu .navbar-nav .siteTitle {
  font-size: 1.8rem;
}
.mobileMenu .navbar-nav .siteTitle:first-of-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mobileMenu.open {
  top: 0;
  -webkit-font-smoothing: antialiased;
  transition: all 500ms ease;
}

/* Video Carousel Text Animations */
.cover-text {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 3.5vw;
  transform: translateY(-50%);
}

.cover-text-1a {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  .cover-text-1a {
    font-size: calc(27.648px + 53.352 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  .cover-text-1a {
    font-size: 81px;
  }
}
@media screen and (max-width: 680px) {
  .cover-text-1a {
    font-size: 1.5em;
  }
}

.cover-text-1b {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  .cover-text-1b {
    font-size: calc(27.648px + 134.352 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  .cover-text-1b {
    font-size: 162px;
  }
}
@media screen and (max-width: 680px) {
  .cover-text-1b {
    font-size: 3.5em;
  }
}

.cover-text-1a,
.cover-text-1b {
  text-shadow: 1px 1px #444;
  color: white;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@media screen and (max-width: 1080px) {
  .heroChevron {
    transform: translateX(-50%);
  }
}

/* Button Styles */
.btn-primary {
  color: black;
  background-color: #F0C611;
  border: none;
  border-radius: 2px;
  transition: 800ms ease all;
  outline: none;
}
.btn-primary.disabled, .btn-primary:disabled, .btn-primary.disabled:hover {
  color: white;
  background-color: #707070;
  border-color: #707070;
}
.btn-primary:hover {
  color: black;
  background-color: #F0C611;
  transform: scale(0.9);
}

.callNow {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 800;
  width: 16vw;
  /* iPhone 6/7/8 */
  /* iPhone 6/7/8 plus */
  /* iPhone X */
  /* Nexus 10 and iPad */
  /* iPad Pro */
  padding: 1rem;
  background: #2bb3e5;
  transform: translateY(-50%);
  border-radius: 20rem 0 0 20rem;
  border: 1px solid white;
}
@media screen and (min-width: 375px) and (min-height: 667px) {
  .callNow {
    width: 19vw;
  }
}
@media screen and (min-width: 414px) and (min-height: 736px) {
  .callNow {
    width: 17vw;
  }
}
@media screen and (min-width: 375px) and (min-height: 812px) {
  .callNow {
    width: 16vw;
  }
}
@media screen and (min-width: 700px) {
  .callNow {
    width: 9vw;
  }
}
@media screen and (min-width: 900px) {
  .callNow {
    width: 7.5vw;
  }
}
.callNow .callNowButton {
  background: white;
  color: black;
  margin: 0 auto;
  border-radius: 1rem;
}

.header button {
  transition: 1000ms ease all;
}
.header button:hover svg path {
  fill: #212529;
}
.header #subHeader {
  background: #0B3C5D;
  color: #F0C611;
  margin-top: 75px;
  width: 100%;
  padding: 1.45rem 1.0875rem;
}

.pageHero {
  margin-top: 75px;
}

.footer {
  color: white;
  display: block;
  position: relative;
}
.footer:before {
  content: "";
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #010305;
}
.footer:after {
  content: "";
  background: url("../images/footerbg.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  color: #F0C611;
}
.footer .copyText {
  bottom: 1rem;
  left: 0;
  right: 0;
}
.footer .socialLinks {
  font-size: 1.2rem;
  right: 0;
  bottom: 0;
}
.footer .socialLinks .social-twitter:hover path {
  fill: #1da1f2;
}
.footer .socialLinks .social-facebook:hover path {
  fill: #4267b2;
}
.footer .socialLinks .social-linkedin:hover path {
  fill: #0077B5;
}

.btn-group-lg > .btn, .btn-lg {
  padding: 0.25rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
}

.heroChevron {
  z-index: 900;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
}

/* Input Focus */
.form-control:focus {
  box-shadow: 0 0 0.5rem 0.2rem #2bb3e5;
}

input:not(.intl-tel-input input, .intl-tel-input input[type=tel], .intl-tel-input input[type=text]) {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0;
}

div.intl-tel-input.allow-dropdown {
  width: 100%;
}
div.intl-tel-input.allow-dropdown input,
div.intl-tel-input.allow-dropdown input[type=tel],
div.intl-tel-input.allow-dropdown input[type=text] {
  width: 100%;
  border: 1px solid #ced4da;
  box-shadow: 2px 4px 6px;
  border-radius: 2px;
  color: #495057;
}
div.intl-tel-input input,
div.intl-tel-input input[type=tel],
div.intl-tel-input input[type=text] {
  padding: 0.65rem;
}

/* Blockquotes */
blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Merriweather, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #666;
  /*Box Shadow*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
  /*Borders*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
}

blockquote::before {
  content: "“";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Merriweather, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover {
  color: #666;
}

blockquote em {
  font-style: italic;
}

/* Default Color Palette */
blockquote.default {
  border-left-color: #656d77;
  border-right-color: #434a53;
}

/*Grapefruit Color Palette*/
blockquote.grapefruit {
  border-left-color: #ed5565;
  border-right-color: #da4453;
}

/*Sunflower Color Palette*/
blockquote.sunflower {
  border-left-color: #ffcd69;
  border-right-color: #f6ba59;
}

/*Grass Color Palette*/
blockquote.grass {
  border-left-color: #9fd477;
  border-right-color: #8bc163;
}

/*Gray Color Palette*/
blockquote.gray {
  border-left-color: #ccd1d8;
  border-right-color: #aab2bc;
}

/******************************/
/*   Additional Animations    */
/******************************/
/* Hamburger  */
button:focus {
  outline: none;
}

.hamburger {
  z-index: 9999;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: absolute !important;
  right: 0;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  z-index: 2002;
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  z-index: 2002;
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.65s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.45s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.servicesHome {
  min-height: 100% !important;
}
.servicesHome .card {
  background: transparent;
  height: 100%;
  min-height: 35vh;
}
.servicesHome .card.cardOne {
  animation-delay: 0;
}
.servicesHome .card.cardTwo {
  animation-delay: 0.25s;
}
.servicesHome .card.cardThree {
  animation-delay: 0.5s;
}
.servicesHome .card.cardFour {
  animation-delay: 0.75s;
}
.servicesHome .card .image-services.card-img-top {
  max-width: auto !important;
  max-height: 25vh;
  object-fit: contain;
  margin-bottom: 2rem;
}
.servicesHome .card .image-services.card-body,
.servicesHome .card .image-services.card-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.servicesHome .card .card-img-overlay {
  position: relative;
  transition: 0.3s linear;
  /* height: 100%; */
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  .servicesHome .card .card-img-overlay {
    min-height: fit-content;
    position: absolute;
    opacity: 0;
  }
}
.servicesHome .card .card-img-overlay .card-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
}
@media only screen and (min-width: 1280px) {
  .servicesHome .card:hover .card-img-overlay {
    opacity: 1;
    color: white;
    background: rgba(0, 0, 0, 0.9);
  }
}

section.statsCounter {
  background: #0B3C5D;
  color: white;
}
section.statsCounter h1:first-child, section.statsCounter .cover-text-1b:first-child {
  margin-top: 2rem;
}
section.statsCounter .row div {
  margin-bottom: 1.5rem;
}
section.statsCounter .row div h1, section.statsCounter .row div .cover-text-1b {
  margin-top: unset;
  color: #F0C611;
}
section.statsCounter .row div .text-muted {
  color: #2bb3e5 !important;
  font-size: 1.2rem;
}

section.ourPassion {
  padding: 4rem;
}
section.ourPassion .ourPassionImg {
  object-fit: cover;
}

section.recentBlogPosts {
  background: #0B3C5D;
  color: white;
}
section.recentBlogPosts .cardRow {
  min-height: 40vh;
}
section.recentBlogPosts .cardRow .blogCard {
  border-radius: 0;
  border: none;
  height: 40vh;
}
section.recentBlogPosts .cardRow .blogCard .overlayFooter {
  position: absolute;
  bottom: 0;
}
section.recentBlogPosts .cardRow .blogCard .blogCard-body {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  bottom: 0;
  position: absolute;
}
section.recentBlogPosts .cardRow .blogCard .blogCard-body a h4.card-title {
  color: white;
  font-size: 1.2em;
  font-weight: 300 !important;
}
section.recentBlogPosts .cardRow .blogCard .card-img-top {
  object-fit: cover;
  width: 100%;
}
section.recentBlogPosts .cardRow .blogCard .card-img-overlay {
  position: relative;
  transition: 0.3s linear;
  padding: 0;
}
@media only screen and (min-width: 1280px) {
  section.recentBlogPosts .cardRow .blogCard .card-img-overlay {
    min-height: fit-content;
    position: absolute;
    opacity: 0;
  }
}
@media only screen and (min-width: 1280px) {
  section.recentBlogPosts .cardRow .blogCard:hover .card-img-overlay {
    opacity: 1;
    color: white;
    background: rgba(0, 0, 0, 0.9);
  }
}

section.contactForm, section.dreamForm, section.thankYou {
  background: #EAF3F8;
}
section.contactForm form textarea,
section.contactForm form select,
section.contactForm form input,
section.contactForm form button, section.dreamForm form textarea,
section.dreamForm form select,
section.dreamForm form input,
section.dreamForm form button, section.thankYou form textarea,
section.thankYou form select,
section.thankYou form input,
section.thankYou form button {
  box-shadow: 2px 4px 6px;
  border-radius: 2px;
}
section.contactForm form textarea,
section.contactForm form input, section.dreamForm form textarea,
section.dreamForm form input, section.thankYou form textarea,
section.thankYou form input {
  padding: 1.4rem;
}
section.contactForm form input[type=file], section.dreamForm form input[type=file], section.thankYou form input[type=file] {
  padding: unset;
  box-shadow: unset;
  border-radius: unset;
}
section.contactForm form button, section.dreamForm form button, section.thankYou form button {
  padding: 0.25rem 2.5rem;
}
section.contactForm form button:hover, section.dreamForm form button:hover, section.thankYou form button:hover {
  max-width: 50%;
}

.hp {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

/* Responsive Web Design Page */
section.deliverYourMessage {
  background: #0B3C5D;
  color: white;
}

.plan .planCard {
  border: none;
}
.plan .planCard .planIcon {
  color: #2bb3e5;
}
.plan .planCard h2, .plan .planCard .cover-text-1a, .plan .planCard p {
  color: #0B3C5D;
}
.plan:nth-of-type(2) .planCard {
  border: 1px solid #84BAD9;
}
.plan:nth-of-type(odd) .planCard {
  border: 1px solid #d2e6f1;
  background: #EAF3F8;
}

ul .planFeatureIcon {
  color: #2bb3e5;
  margin-right: 2em;
}

.bookingModal .modal-header {
  background: #0B3C5D;
}
.bookingModal .modal-header .modal-title {
  color: #2bb3e5;
}
.bookingModal .close {
  color: #2bb3e5;
  text-shadow: none;
}

iframe.bookingFrame {
  height: 80vh;
  width: 99.8%;
  border: none;
}

.booking {
  height: 100%;
}

/* loading elipsis animation */
svg.spin path {
  color: #2bb3e5;
}

div.spinContainer {
  display: block !important;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Recaptcha */
.recaptcha {
  width: fit-content;
  margin: 0 auto;
}

/* eCommerce Design */
.gatsby-image-wrapper.platforms {
  height: 20vh;
}

.roadmap {
  background: #EAF3F8;
}

.innovativeDesign {
  background: #0B3C5D;
  color: white;
}

.roadmapCol:after {
  position: absolute;
  color: rgba(1, 3, 5, 0.5);
  content: "  ";
  font-family: "Font Awesome 5 Free";
  font-size: 1.4em;
  font-weight: 900;
  display: inline-flex;
  right: -3.2em;
  top: 20%;
  transform: translateY(-50%);
  white-space: pre;
}
.roadmapCol:after {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .roadmapCol:after {
    font-size: calc(16px + 20 * ((100vw - 320px) / 1960));
  }
}
@media screen and (min-width: 2280px) {
  .roadmapCol:after {
    font-size: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
